* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 30px;
}

.photo-album {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.photo-row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.photo {
    margin: 0 10px;
    text-align: center;
    width: 400px;
}

.photo img {
    width: auto;
    height:180px;
    border-radius: 10px;
}

.photo p {

    font-size: 14px;
    color: #333;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 50px;

}

p {
    font-size: 19px;
    line-height: 1.6;
    word-break: keep-all;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (max-width: 900px){
    .photo img {
        width: 130px;
        height: auto;
    }
    .photo {
        width: 120px;
    }
}