* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #FFD700;
    padding: 10px;
}

.photo-album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.photo {
    margin: 10px;
    text-align: center;
    flex: 0 0 auto;
}

.photo img {
    width: 180px; 
    height: auto;
    border-radius: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 50px;
}

p {
    font-size: 44px;
    line-height: 1.6;
    word-break: keep-all;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 900px) {
    .photo-album {
        flex-direction: column;
        align-items: center;
}

    .photo img {
        width: 150px; 

}
    p {
        font-size: 30px;
    }
}