* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(100vh - 100px);
    margin: 0;
    background-color: #f0f0f0;
}
.house {
    display: flex;
    flex-wrap: wrap;
    width: 284px;
    height: 244px; 
    position: relative;
}
.square1{
    width: 138px;
    height: 120px;
    background-color: #EAD9D5;
    margin: 2px;
}
.square2{
    width: 138px;
    height: 120px;
    background-color: #bbe4e9;
    margin: 2px;
}
.square3{
    width: 138px;
    height: 120px;
    background-color: #B4B8AB;
    margin: 2px;

}
.square4{
    width: 138px;
    height: 120px;
    background-color: #D1C6E0;
    margin: 2px;

}
.roof {
    position: absolute;
    top: -84px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 142px solid transparent;
    border-right: 142px solid transparent;
    border-bottom: 83px solid #E63946;
}
body{
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw auto;

}

@media screen and (max-aspect-ratio: 3/2) {
    body {
        background-size: auto 100vh;
    }
}
