body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: black;
}

nav {
    position: fixed;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    margin: 10px 0;
    height: calc(vh/ 3);
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


a:hover {
    color: gray;
}
@media screen and (max-width: 1000px) {
    nav{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
}

    }
}
