body {
	background-color: #f0f0f0;
}

p{
	font-size: 19px;
	line-height: 1.6;
	word-break: keep-all;
	letter-spacing: 1px;
	padding: 20px;
	text-align: center;
}
h2 {
	text-align: center;
	padding: 20px;
	color: black;
    text-decoration: underline;
    text-decoration-color: black;
    transition: text-decoration-color 0.3s ease;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}