body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: floralwhite;
}

body {
    background-color: floralwhite;
}
.photo-album {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.photo-row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.photo {
    margin: 0 10px;
    text-align: center;
    width: 400px;
}

.photo img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.photo p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
@media screen and (max-width: 900px){
    .photo img {
        width: 130px;
        height: auto;
    }
    .photo {
        width: 120px;
    }
}